@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

* {
    font-family: 'Kosugi Maru', sans-serif;
    box-sizing: border-box;
}

html {
    background-image: url("./images/cat-paw-background.png");
    background-size: 2vw;
    background-color: darkslateblue;
}

.game-container {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 0;
    border-style: solid;
    border-width: clamp(1px, 0.1vw, 2px);
    border-color: grey;
    border-radius: clamp(0px, 7vw, 60px);
    /* background-color:cadetblue; */
}

.game-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    flex: 1;
    padding-bottom: 12px;
    border-bottom-style: solid;
    border-bottom-width: clamp(1px, 0.1vw, 2px);
    border-color: grey;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.game-title h1 {
    font-family: 'Cherry Bomb One';
    display: inline-block;
    font-size: clamp(50px, 10vw, 90px);
    margin: auto;
    text-align: center;
    color: #baa8f0;
    /* background-color: #033546; */
    -webkit-text-stroke-width: clamp(1px, 0.2vw, 2px);
    -webkit-text-stroke-color: black;
}

.game-title p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    font-size: clamp(16px, 4vw, 24px);
}

.game-title img {
    width: clamp(12px, 3vw, 24px)
}

.game-info,
.game-status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12px 0;
    font-size: clamp(10px, 4vw, 28px);
    /* line-height: clamp(12px, 32px, 40px); */
    /* min-height: 5vh; */
    font-style: italic;
}

.game-info p {
    margin: 0;
}

.selection-container {
    display: flex;
    flex-direction: column;
    gap: 0cqw;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    flex: 1;
    padding-bottom: 3vh;
    /* height: 20vh; */
}

.selection-container h2.round {
    font-size: clamp(16px, 4vw, 28px);
}

.human-instructions,
.winner-announce {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1cqh 0;
    padding: 0 1cqw;
    font-size: clamp(12px, 3.5vw, 22px);
    /* color: white; */
}

.scoreboard {
    display: flex;
    gap: clamp(10px, 5vw, 80px);
    justify-content: center;
    flex: 3;
}

.scoreboard-human,
.scoreboard-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard-human p,
.scoreboard-cat p {
    display: inline;
    font-size: clamp(10px, 4vw, 28px);
}

.scoreboard-human h2,
.scoreboard-cat h2 {
    text-align: center;
    margin: 0;
    font-size: clamp(12px, 6vw, 40px);
}

.choices {
    display: flex;
    height: 30cqw;
    max-height: 300px;
    width: auto;
    margin: auto;
}

@keyframes bounce {
    0%      {transform:translateY(0px);}
    50%     {transform:translateY(10px);}
    100%    {transform:translateY(0px);}
}

.bounce {
    display: inline-block;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.human-choice-div,
.cat-choice-div {
    border-radius: clamp(0px, 7vw, 60px);
    border-style: solid;
    border-width: clamp(2px, 0.2vw, 4px);
    border-color:rgb(117, 117, 117);
    background-color:ghostwhite;
}

.human-score,
.cat-score {
    display: flex;
    align-items: center;
    margin: 0;
    min-height: 45px;
    gap: 2px;
}

.human-score p,
.cat-score p {
    margin: 0;
}
.winner {
    background-color: limegreen;
}

.loser {
    background-color: darkred;
}

#human-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2cqw;
    margin: 0 0 1cqw 0;
}

#human-selection img {
    background-color: #253698;
    border: solid;
    border-color: black;
    width: clamp(20px, 25vw, 120px);
    border-radius: 100cqh;
    padding: 5px;
}

#human-selection img.clicked {
    background-color: orchid;
    border-color: white;
    border-width: 1qw;
}

.end-game {
    margin: auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex: 1;
}

button#reset-game {
    background-color: #253698;
    border: solid;
    border-color: black;
    margin: 0 auto 1cqw auto;
    color: white;
    padding: 16px;
    font-size: clamp(12px, 4vw, 32px);
    border-radius: 2cqw;
}

