@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

* {
    font-family: 'Kosugi Maru', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #2e266a;
}

.game-container {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    min-height: 90vh;
    max-height: 100vh;
    padding: 0;
    border-style: solid;
    border-width: clamp(3px, 0.5vw, 8px);
    border-radius: clamp(0px, 7vw, 60px);
    background-color:cadetblue;
}

.game-title {
    display: flex;
    justify-content: center;
    flex: 1;
}

.game-title h1 {
    font-family: 'Cherry Bomb One';
    display: inline-block;
    font-size: clamp(30px, 10vw, 90px);
    margin: auto;
    text-align: center;
    text-shadow:  0 0 1em rgb(235, 229, 255);
    color: #baa8f0;
    /* background-color: #033546; */
    -webkit-text-stroke-width: clamp(1px, 0.2vw, 2px);
    -webkit-text-stroke-color: black;
}

.animate-text {
    display: inline-block;
    transition: all 0.2s ease;
    -webkit-text-stroke-width: 0.3cqw;
    -webkit-text-stroke-color: white;
}

.animate-text.fade {
    opacity: 0;
}

@keyframes bounce {
    0%      {transform:translateY(0px);}
    50%     {transform:translateY(10px);}
    100%    {transform:translateY(0px);}
}

.bounce {
    display: inline-block;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.human-choice-div,
.cat-choice-div {
    border-radius: clamp(0px, 7vw, 60px);
    border-style: solid;
    border-width: clamp(4px, 0.5vw, 8px);
    border-color: black;
    background-color:ghostwhite;
}

.human-choice-div .winner,
.cat-choice-div .winner {
    background-color: limegreen;
    border-radius: clamp(6px, 4vw, 60px);
}

.human-choice-div .loser,
.cat-choice-div .loser {
    background-color: darkred;
    border-radius: clamp(7px, 5vw, 50px);
}

.winner.fade, 
.loser.fade {
    opacity: 0;
}

.selection-container {
    display: flex;
    flex-direction: column;
    gap: 1cqw;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: 1;
    height: 20vh;
}

.human-instructions,
.winner-announce,
.round {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1cqh 0 0 0;
    padding: 0 1cqw;
    font-size: clamp(12px, 3.5vw, 22px);
    color: white;
}

#human-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2cqw;
    margin: 0 0 1cqw 0;
}

#human-selection img {
    background-color: #253698;
    border: solid;
    border-color: black;
    width: clamp(20px, 25vw, 120px);
    border-radius: 100cqh;
    padding: 5px;
}

.game-info,
.game-status {
    text-align: center;
    color: white;
    font-size: clamp(12px, 4vw, 28px);
    margin: clamp(8px, 2vh, 18px);
    line-height: clamp(12px, 32px, 40px);
}

.scoreboard {
    display: flex;
    gap: clamp(10px, 5vw, 80px);
    justify-content: center;
    color: white;
    flex: 3;
    /* max-height: 500px; */
}

.scoreboard-human,
.scoreboard-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard-human p,
.scoreboard-cat p {
    display: inline;
    font-size: clamp(10px, 5vw, 30px);
}

.scoreboard-human h2,
.scoreboard-cat h2 {
    text-align: center;
    margin: 0;
    font-size: clamp(10px, 4vw, 40px);
}
.choices {
    display: flex;
    height: 30cqw;
    max-height: 300px;
    width: auto;
    margin: auto;
}
.end-game {
    margin: auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex: 1;
}

button#reset-game {
    background-color: #253698;
    border: solid;
    border-color: black;
    margin: 0 auto 1cqw auto;
    color: white;
    padding: 16px;
    font-size: clamp(12px, 4vw, 32px);
    border-radius: 2cqw;
}

#human-selection img.clicked {
    background-color: orchid;
    border-color: white;
    border-width: 1qw;
}